.plugin_smtp_admin {
    label {
        display: flex;
        gap: 1em;
        margin-bottom: 1em;

        > span {
            flex: 1;
            text-align: right;
        }
        > input {
            flex: 2;
        }
    }
}

.plugin_smtp_oauth {
    margin-bottom: 2em;

    pre.plugin_smtp_redirect {
        display: inline-block;
        padding: .3em .6em;
        user-select: all;
    }
    .plugin_smtp_connected {
        font-weight: bold;
    }
}
